.main_container {
   width: 50%;
   margin: auto;
   margin-top: 20px;
}

.primary_container {
   width: 100%;
   gap: 20px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 10px;
}

.todo_input {
   width: 100%;
   outline: none;
   border: none;
   padding: 10px;
}

.btn {
   padding: 10px;
   border: 1px solid var(--green);
   background: var(--green);
   border-radius: 5px;
   width: 20%;
   transition: all .7s ease-in-out;
}

.btn:hover {
   background: var(--white);
}

.todo_items {
   display: grid;
   grid-template-columns: 1fr auto auto auto;
   gap: 10px;
   width: 100%;
   align-items: center;
}

.completed {
   color: green;
   border-radius: 50%;
   padding: 5px;
}

.edit {
   color: var(--blue);
}

input::placeholder {
   color: #ccc;
}

.delete {
   color: red;
   padding: 5px;

}

.task {
   text-transform: capitalize;
}

@media (max-width: 768px) {
   .main_container {
      width: 90%;
   }

   .primary_container {
      flex-direction: column;
      justify-content: flex-start;
      gap: 5px;
   }

   .btn {
      align-self: flex-end;
      width: 30%;
   }

   .todo_input {
      border: 1px solid var(--green);
   }
}