.main_container {
   width: 50%;
   margin: auto;
   margin-top: 20px;
}

input {
   background: inherit;
}

.primary_container {
   width: 100%;
   gap: 20px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 10px;
}

.todo_input {
   width: 100%;
   outline: none;
   border: none;
   padding: 10px;
}

.btn {
   padding: 10px;
   border: 1px solid var(--green);
   background: var(--green);
   border-radius: 5px;
   width: 20%;
   transition: all .7s ease-in-out;
}

.btn:hover {
   background: var(--white);
}

.todo_items {
   display: grid;
   grid-template-columns: 1fr auto auto auto;
   gap: 10px;
   width: 100%;
   align-items: center;
}

.green {
   color: green;
   padding: 5px;
}

.edit-form {
   display: flex;
   justify-content: space-between;
   padding: 0;
   border: none;
   display: flex;
   width: 100%;
}

.edit {
   color: var(--blue);
   padding: 5px;
}

.edit-input-container {
   display: flex;
   width: 100%;
}

.action-btn {
   gap: 10px;
}

.action-btn button {
   border: 1px solid #ccc;
   background: none;
   border-radius: 5px;
}

input::placeholder {
   color: #ccc;
}

.red {
   color: red;
   padding: 5px;

}

.task {
   text-transform: capitalize;
}

.save-btn,
.cancel-btn {
   width: max-content;
   padding: 5px;
}


@media (max-width: 908px) {
   .main_container {
      width: 90%;
   }

   .primary_container {
      flex-direction: column;
      justify-content: flex-start;
      gap: 5px;
   }

   .btn {
      align-self: flex-end;
      width: 30%;
   }

   .todo_input {
      border: 1px solid var(--green);
   }

   .edit-input {
      border: none;
   }
}